Flask==0.10.1
Flask-Cors==2.1.2
Flask-SocketIO==2.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.10.4
eventlet==0.18.4
greenlet==0.4.9
itsdangerous==0.24

python-engineio==0.8.7
python-firebase==1.2
requests==2.9.1
six==1.9.0

pyardrone==0.5.1dev1
pyserial==3.0.1
python-socketio==1.0
-e git+https://github.com/sondrele/socketIO-client.git@7f673045c86732287ed273827e2f9d6b8ca45601#egg=socketIO_client
websocket-client==0.35.0
